slurm.sh

runs/*
!runs/.gitignore

# Ignore model weight files, but not the package init or utility script
!models/__init__.py
!models/model_utility.py
!models/.gitignore

training_set
dev_set
test_set_interp
test_set_extrap

training_set_viz
dev_set_viz
test_set_viz

evaluation_results.csv
evaluation_results_2.csv
evaluation_results_3.csv
name_to_id.txt
evaluation_results_3.csv
trajectory.pdf
input_development.pdf

performance_tests.ipynb
performance_tests.py

tensorboard_csv_outputs

__pycache__
models/__pycache__
memory-bank/
